{% extends "layout/main_layout.html" %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> {{ title }}</h4>
    <div class="card">
        <h5 class="card-header">Tabel Data Produk</h5>
        <div class="col-md-4 m-4">
        </div>
        {% with pesan = get_flashed_messages() %}
          {% if pesan %}
          {% for info in pesan %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{  info  }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>No</th>
                        <th>Kategori</th>
                        <th>Produk</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for row in produk %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>
                            <form action="{{ url_for('komentar_algoritma') }}" method="post">
                                <input type="hidden" name="nama" value="{{ row.2 }}">
                                <input type="hidden" name="produk" value="{{ row.0 }}">
                                <button class="btn btn-success" type="submit">Proses Komentar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    {% endblock %}