<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisi Sentimen Produk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets2/') }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets2/') }}fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets2/') }}css/templatemo-style.css">
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <i class="fas fa-film mr-2"></i>
                {{ title }}
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-danger tm-text-gray-light" href="{{ url_for('login') }}">Login</a>
                    </li>
                </ul>
                </div>   
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{{ url_for('static', filename='assets2/') }}img/hero.jpg">
        
    </div>

    {% if komentar %}
    <div class="container-fluid tm-mt-60 ">
        <div class="row tm-mb-50 justify-content-center text-center">
            <div class="col-lg-6 col-12 mb-5 justify-content-center text-center">
                <h2 class="tm-text-primary mb-5 justify-content-center">Hasil Komentar</h2>
                {% if corpus %}
                <div class="form-group" style="display: grid; grid-template-columns: 1fr 1fr;">
                    <div>
                        <textarea rows="8" readonly name="message" class="form-control rounded-0" placeholder="Masukan Komentar" required=> {{ komentar }}</textarea>
                    </div>
                    <div style="margin-left: 10px; max-height: 400px; overflow-y: scroll;">
                        <table class="table table-bordered">
                        <tr>
                            <th>Kata</th>
                            <th>Skor</th>
                            <th>Label</th>
                        </tr>
                        {% for result in corpus %}
                            <tr>
                                <td>{{ result[0] }}</td>
                                <td>{{ result[1] }}</td>
                                <td>{{ result[2] }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <textarea rows="8" readonly name="message" class="form-control rounded-0" placeholder="Masukan Komentar" required=> {{ komentar }}</textarea>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">{{ prediksi[0] }}</button>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container-fluid tm-mt-60 ">
        <div class="row tm-mb-50 justify-content-center text-center">
            <div class="col-lg-4 col-12 mb-5 justify-content-center text-center">
                <h2 class="tm-text-primary mb-5 justify-content-center">Proses Komentar</h2>
                <form id="contact-form" action="" method="POST" class="tm-contact-form mx-auto">
                    
                    <div class="form-group">
                        <select class="form-control" id="contact-select" name="produk" required>
                            <option value="-">Silahkan Pilih Produk</option>
                            {% for row in produk %}
                            <option value="{{ row.0 }}">{{ row.2 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea rows="8" name="komentar" class="form-control rounded-0" placeholder="Masukan Komentar" required=></textarea>
                    </div>

                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Proses</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='assets2/') }}js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>